form {
  width: 50%;
  margin:auto;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}
.template {
  display: none;
}
.userInfo img {
  width:10%;
  float:right;
}
.user h3 {
  width:50%;
  float:left;
  clear:none;
}
.user {
  background:lightgray;
  border-radius: 10px;
  padding:5px;
  width:80%;
  margin:5px auto;
}
.userInfo div {
  display: inline-block;
  padding:5px;
  border:1px solid;
  border-radius: 5px;
  width:49%;
  margin:2px 0;
}
.repositories ul {
  list-style-type: none;
  margin:0; padding:0;
}
.repositories ul li {
  padding:5px;
  border-radius: 10px;
  border:2px solid blue;
  margin:2px;
  width:100%;
}
.repositories ul li div {
  text-indent: 15px;
}

.hidden {
  display:none;
}
